<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jok.pieceofcake">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cake"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cake"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".customerSideActivities.SearchPastryActivity"></activity>
        <activity android:name=".customerSideActivities.customer_settings" />
        <activity android:name=".bakerSideActivities.BakerSettingsActivity" />
        <activity android:name=".Navigation.Customer_Navigation" />
        <activity android:name=".Navigation.Baker_Navigation" />
        <activity android:name=".customerSideActivities.PastryWatchActivityCustomer" />
        <activity android:name=".bakerSideActivities.WatchPastryBakerActivity" />
        <activity android:name=".bakerSideActivities.addPatryPicturesActivity" />
        <activity
            android:name=".customerSideActivities.CustomerOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".customerSideActivities.BuyPastryActivity" />
        <activity android:name=".customerSideActivities.CustomerMenuActivity" />
        <activity android:name=".bakerSideActivities.BakerOrderActivity" />
        <activity
            android:name=".customerSideActivities.Favorites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".bakerSideActivities.AddPastryActivity" />
        <activity android:name=".Navigation.Register" />
        <activity
            android:name=".customerSideActivities.SearchBakerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".bakerSideActivities.BakerMenuActivity" />
        <activity
            android:name=".bakerSideActivities.bakerScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Navigation.Login" />
        <activity
            android:name=".customerSideActivities.customerScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Navigation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>