<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jok.pieceofcake">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cake"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cake"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bakerSide.baker_settings"></activity>
        <activity android:name=".Navigation.Customer_Navigation" />
        <activity android:name=".Navigation.Baker_Navigation" />
        <activity android:name=".customerSide.PastryWatchActivityCustomer" />
        <activity android:name=".bakerSide.PopUpPastryBaker" />
        <activity android:name=".bakerSide.addPatryPicturesActivity" />
        <activity android:name=".customerSide.CustomerOrderActivity" />
        <activity android:name=".customerSide.BuyPastryActivity" />
        <activity android:name=".customerSide.CustomerMenuActivity" />
        <activity android:name=".bakerSide.BakerOrderActivity" />
        <activity android:name=".customerSide.Favorites" />
        <activity android:name=".bakerSide.AddPastry" />
        <activity android:name=".Navigation.Register" />
        <activity android:name=".customerSide.SearchPastry" />
        <activity android:name=".bakerSide.BakerMenuActivity" />
        <activity
            android:name=".bakerSide.bakerScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Navigation.Login" />
        <activity
            android:name=".customerSide.customerScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Navigation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>